.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/_assets/stylesheets/screen.css
vendor
node_modules

.idea/*

Thumbs.db

!.gitkeep

.rbenv-version
.rvmrc